
:root {
	--color-1: #fb6705;
	--color-2: #000000;
	--color-3: #ffffff;
}

* {
	box-sizing: border-box;
}


html {
	font-size: 16px;

}

body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: "Roboto Mono", monospace;
}

section {
	width: 100vw;
	padding: 10vh 10vw;
	margin: 0 auto;
}

img {
	object-fit: cover;
}

button {
	margin: 0;
	border-radius: 3px;
	border: 2px solid grey;
	padding: 19px 19px;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--color-3);
	line-height: 21.6px;
	font-style: italic;
}


.logo {
	 width: max(100px, 15vw);
	 height: max(100px, 20vh);
	 border: none;
}
0
.testimonial-image {
	width: 10%;
	height:10%;
	border-radius: 50%;
}




.carry {
	position: relative;
	top: -25%;
}

.button-1 {
	background-color: var(--color-1);

}
.button-2 {
	background-color: var(--color-2);

}

.button-3 {
	background-color: var(--color-1);
	border: none;
	border-radius: 0;
}

.bordered {
	border: 2px solid var(--color-1);
}
}

nav {
	height: max(150px, 20%);
	align-items: center;
	display: grid;
	justify-content: space-between;
	margin: auto;
	grid-template-columns: 20% 50%;
	align-items: center;
}

#nav-links {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 60%;
	padding: 0 0;
	margin: auto;
	position: absolute;
	top: 10%;
	left: 30%;
}

#nav-links li {
	display: block;
	margin-right: 15px;
	white-space: nowrap;

}

#tag-video {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 45% 50%;
}

.vid {
	margin: auto;
}


#stats {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 30% 30% 30%;
	text-align: center;
	font-weight: bold;
}

#stats span {
	font-size: 40px;
	font-weight: bold;
	display: block;
}

#benefits-box {
	background-color: var(--color-2);
	color: var(--color-3);
}

#benefits-headline {

	display: grid;
	justify-content: space-between;
	grid-template-columns: 50% 50%;
}

#benefits {
	display: grid;
	justify-content: space-evenly;
	text-align: center;
	grid-template-columns: 30% 30% 30%;
}

.center-2 {
	margin: auto;
	display: grid;
	width: 400px;
	grid-template-columns: 180px 180px;
	justify-content: space-between;
}

.center-1 {
	margin: auto;
	display: grid;
	width: 180px;
}

.testimonial-image {
	width: 100%;
	 border-radius: 50%;
	 margin: 20px;
}
#testimonials {
	display: grid;
	justify-content: space-around;
	grid-template-columns: 20% 60%;
	justify-items: center;
}

.testimonial-text {
	padding-top: 10px;
}

#benefits-grid {
	display: grid;
	margin: auto;
	grid-template-columns: 50% 50%;
}

@media (max-width: 800px) {

#benefits-grid {


	grid-template-columns: 100%;
}

}


#benefits-grid img {
	width: 100%;
	height: 60vh;
}


#benefits-grid article {
	margin-left: 10%;
	height: 60vh;

}

#how-box {
	background-color: var(--color-2);
	color: var(--color-3);
	padding: 20px 20px;

}

#how {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 30% 30% 30%;
	text-align: center;
	padding: 20px 20px;

}

#how * {
	margin: 10px;
}

#tag-copy {
	display: grid;
	grid-template-columns: 30% 70%;
	justify-content: space-between;
}

#tag-copy * {
	margin: 5px 10px;
}

#pricing {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 24% 24% 24% 24%;

}

#pricing div {
	padding: 0 0;
	border: 2px solid grey;
	border-radius: 2%;
}

#pricing button {
	display: block;
	width: calc(100% + 2px);
	margin: 0;
	z-index: 1;

}

.price-box {
	color: var(--color-3);
	background-color: var(--color-2);
}

.price-box span {
	font-size: 40px;
	display: block;
}

#instruction-text {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#instruction-text span {
	color: var(--color-1);
}

#guarantee-box {
	background-color: var(--color-2);
	color: var(--color-3);
}

#guarantee-headline {
	display: grid;
	grid-template-columns: 60% 40%;
}
.guarantees {
	display: grid;
	grid-template-columns: 45% 45%;
	text-align: center;
	justify-content: space-evenly;
}

#CTA {
	text-align: center;
	display: grid;
	grid-template-columns: 70% 20%;
	justify-content: space-evenly;
	background-color: var(--color-1);


}



#CTA p {
	font-size: 1.2rem;
	font-weight: bold;

}

#foot-bar {
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	justify-content: space-evenly;
}

#foot-bar div {
	text-align: left;
}

#foot-bar img {
	position: relative;
	right: 15%;
}

@media (max-width: 800px) {

#foot-bar {
	grid-template-columns: 69%;
}
#foot-bar img {
	width: 60%;
	position: relative;
	left: -5%;

	
}

#foot-bar div {
	text-align: center;
}

}

#copyright {
	position: absolute;
	left: 10%;
	opacity: 50%;
	font-size: 10px;

}

@media (max-width: 800px)

{
	#tag-video, #stats, #benefits-headline, #benefits, #how, #tag-copy, #pricing, #guarantee-headline, .guarantees, #CTA {
		grid-template-columns: 100%;
	}

	body {
		font-size: 0.8rem;
	}

	div, article {
		margin-bottom: 40px;
	}

	.center-1 {
		max-width: 100px;
	}

	.center-2 {
		max-width: 200px;
		grid-template-columns: 90px 90px;
	}

	.center-1 button, .center-2 button {
	border-radius: 3px;
	padding: 10px 10px;
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 15.6px;
	}

	#nav-links {
		display: none;
	}

	.vid embed {
		width: 400px;
	}


}

